{% extends "base/base.html" %}
{% load staticfiles %}
{% block nav-global %}{% endblock nav-global %}
{% block nav-local %}{% endblock nav-local %}
{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block content %}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}
                "Please correct the error below."
            {% else %}
                "Please correct the errors below.
            {% endif %}
        </p>
    {% endif %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    <div id="content-main">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <table class="registration-form" >
                <tr>
                    <td>
                        {{ form.username.errors }}
                        <label for="id_username" class="required">{{ form.username.label }}:</label> 
                    </td>
                    <td>
                        {{ form.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.errors }}
                        <label for="id_password" class="required">Password:</label>
                    </td>
                    <td>
                        <input type="hidden" name="next" value="{{ next }}" />
                        {{ form.password }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Log in" />
                        &nbsp;
                        <a href="{% url 'password_reset' %}">
                             Forgot password
                        </a>
                    </td>
                </tr>
            </table>
        </form>
        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    </div>
{% endblock content%}