{% extends "base/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ims/css/style.css' %}" type="text/css" >
{% endblock extrastyle %}
{% block announcement %}
    <div id="announcement">
        {% if errorMessage %}
            <p id="error-note" class="errornote">
                <img class="announcement-close" src="{% static 'base/img/delete.png' %}"></img>
                <img class="announcement-icon" src="{% static 'base/img/icon_error.gif' %}"></img>
                {{ errorMessage | safe }}
            </p>
        {%endif %}
    </div>
{% endblock announcement %}
{% block content %}
{% endblock content %}