{% extends "base/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ims/css/style.css' %}" type="text/css" >
{% endblock extrastyle %}
{% block announcement %}
    <div id="announcement">
        {% if warningMessage %}
            <p id="warning-note" class="warningnote">
                <img class="announcement-close" src="{% static 'base/img/delete.png' %}"></img>
                <img class="announcement-icon" src="{% static 'base/img/icon_alert.gif' %}"></img>
                {{ warningMessage | safe }}
                <ul>
                    <li><a href="{% url 'redcross_help' %}">Help/FAQs</a></li>
                    <li><a href="{% url 'ims:home' %}">List of recent inventory activity</a></li>
                    <li><a href="{% url 'ims:sites' %}">List of inventory sites</a></li>
                    <li><a href="{% url 'ims:products' %}">List of products</a></li>
                </ul>
            </p>
        {%endif %}
    </div>
{% endblock announcement %}
{% block content %}
{% endblock content %}