{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="error-page">
    <div class="error-content">
        <table>
            <tr>
                <th>
                <h3>
                    <tr>
                <th>
                <h3>
                    Uh oh! It looks like there was some kind of server error!<br />
                    Sorry about that.<br />
                    Please contact the site administrator.
                </h3>
                </th>
            </tr>
        </table>
    </div>
</div>
{%endblock content %}